extends layout_admin
block content
	include nav	
		div()
			div(id="container")
				h3 Lista de Usuarios
			div()
				if list_usuarios.length==0
					h5(id="container") No existen Usuarios Registrados
				else
						table(id="container" class="mdl-data-table mdl-js-data-table")
							thead
								tr
									th(class="mdl-data-table__cell--non-numeric") Nombres
									th(class="mdl-data-table__cell--non-numeric") Apellidos
									th(class="mdl-data-table__cell--non-numeric") Cedula
									th(class="mdl-data-table__cell--non-numeric") Correo
									th(class="mdl-data-table__cell--non-numeric") Estado		
									th(class="mdl-data-table__cell--non-numeric") Opciones
							each usuario in list_usuarios
								tr(class="obtener_usuario")
									td #{usuario.nombres}
									td #{usuario.apellidos}
									td #{usuario.cedula}
									td #{usuario.email}
									if usuario.borrado_Logico == 0
										td Baja
									else
										td Alta
									td
										button(class="mdl-button mdl-js-button mdl-button--primary" name="btn_ActDes" type="submit" id="#{usuario.id_Usuario}") Act/Desc
										button(class="mdl-button mdl-js-button mdl-button--primary" name="btn_restaurar_contrasena" id="#{usuario.id_Usuario}" type="submit") Restaurar Contraseña
										button(class="mdl-button mdl-js-button mdl-button--primary" name="btn_eliminar_usuario" id="#{usuario.id_Usuario}" type="submit") Eliminar